.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.border{
    border: 2px solid black;
    margin: 3px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin-top: 5px;
}
.p-1{
    padding: 14px;
}

/* For Chrome, Safari, and newer Edge */
/* For Chrome, Safari, and newer Edge */
::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
    background-color: black; /* Set the background color of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray; /* Set the color of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333; /* Set the background color of the track */
  }
  
  